/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* styles */

html, body {
    height: 100%; /* Ensure the body and html take up the full height of the viewport */
}

body {
    background-color: black;
    margin: 0;
    min-height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6, .action-button {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
p, div {
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
}

section {
    min-height: 50vh;
}

.intro-modal {
    display: grid;
    grid-template-rows: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-width: 100%;
    transition: all 3s ease;
}

.intro-modal-end {
    grid-template-rows: 100px;
}

.logo-start {
    transform: scale(2.5);
    transition: transform 0.3s ease;
}

.logo-end {
    transform: scale(1);
    transition: transform 0.6s ease;
    transition-delay: 400ms;
}



.header {
    background-color: black;
    display: flex;
    justify-content: center;
    min-width: 100%;
    padding: 10px 0;
}

.header-container {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

#header-logo {
    margin: 0;
}

.hero {
    text-align: center;
    background-color: grey;
    padding: 30px;
    min-height: 85vh;
}

#hero-button {
    font-size: 1.5rem;
    padding: 20px 40px;
    border-radius: 10px;
}

#hero-button > a {
    text-decoration: none;
    color: white;
}

main {
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: white;
    flex: 1 0 auto; /* Allow the main content to grow and take up available space */
    padding-bottom: 30px;
}

.action-button {
    background-color: #f37021;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.action-button:hover {
    background-color: orange;
    box-shadow: 0 4px 8px rgba(191, 106, 2, 0.817);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.service {
    flex-direction: column;
}

.service-card {
    background-color: black;
    min-height: 200px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.service-card:hover {
    box-shadow: 0 4px 8px rgba(191, 106, 2, 0.817);
    transition: box-shadow 0.3s ease;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.service-card > h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f37021
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.contact > h2 {
    color: #f37021;
}

.form {
    background-color: black;
    background: linear-gradient(to top, black, #f37021);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    border-radius: 10px;
    min-width: 75%;
    min-height: 350px;
    text-align: left;
    transition: all 0.3s ease;
}

.form input, .form textarea {
    background-color: whitesmoke;
    color: black;
    margin-bottom: 20px;

}
.form textarea {
    min-height: 100px;
}
.form input::placeholder, .form textarea::placeholder {
    color: #f37021;
}

.form:hover {
    box-shadow: 0 4px 8px rgba(191, 106, 2, 0.817);
    transition: box-shadow 0.3s ease;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.form > * {
    border: none;
    border-radius: 5px;
    padding: 8px;
}

#submit-button {
    max-width: 40%;
}


ul > li {
    list-style: none;
}

footer {
    position: relative;
    background-color: black;
    min-width: 100%;
    padding: 10px 0;
    flex-shrink: 0; /* Prevent the footer from shrinking */
}

.footer-content {
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 0;
}

i {
    color: #f37021;
    font-size: 1.7rem;
    padding: 10px;
    border-radius: 50%;
}

i:hover {
    color: orange;
    box-shadow: 0 2px 8px rgba(191, 106, 2, 0.817);
    transition: box-shadow 0.3s ease;
    transition: color 0.3s ease;

}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}


/* Styling for transitions */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


@media screen and (max-width: 768px) {
    .service-card:nth-child(1) {
        transition-delay: 200ms;
    }
    .service-card:nth-child(2) {
        transition-delay: 400ms;
    }
    .service-card:nth-child(3) {
        transition-delay: 600ms;
    }
}
    

/* Media queries */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
  
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .social-media {
        order: 2;
    }
    .footer-content p {
        order: 1;
    }

    .service-card {
        width: 30%;
    }

    .services {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .form {
        min-width: 50%;
    }

    #submit-button {
        max-width: 30%;
    }

     
}

@media screen and (min-width: 992px) {
    #submit-button {
        max-width: 20%;
    }
    
}