html, body {
    height: 100%; /* Ensure the body and html take up the full height of the viewport */
}

body {
    background-color: black;
    margin: 0;
    min-height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: black;
    display: flex;
    justify-content: center;
    min-width: 100%;
    padding: 10px 0;
}

.header-container {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

#header-logo {
    margin: 0;
}

main {
    background-color: white;
    flex: 1 0 auto; /* Allow the main content to grow and take up available space */
}

footer {
    position: relative;
    background-color: black;
    min-width: 100%;
    padding: 10px 0;
    flex-shrink: 0; /* Prevent the footer from shrinking */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 0;
}